<% if notice %>
  <div class="p-4 text-gray-300 bg-green-600 border-l-4 border-green-700" role="alert">
    <p class="font-bold notice"><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="p-4 text-gray-300 bg-red-500 border-l-4 border-red-700" role="alert">
    <p class="font-bold alert"><%= alert %></p>
  </div>
<% end %>
